
/WebApplication1/obj/Release/netcoreapp2.0/HotelReservation.API.csproj.CoreCompileInputs.cache
/WebApplication1/obj/Release/netcoreapp2.0/HotelReservation.API.AssemblyInfoInputs.cache
/WebApplication1/obj/Release/netcoreapp2.0/HotelReservation.API.AssemblyInfo.cs
/WebApplication1/obj/Release/netcoreapp2.0
/HotelReservation.Models/obj/Release/netcoreapp2.0/HotelReservation.Models.csproj.CoreCompileInputs.cache
/HotelReservation.Models/obj/Release/netcoreapp2.0/HotelReservation.Models.AssemblyInfoInputs.cache
/HotelReservation.Models/obj/Release/netcoreapp2.0/HotelReservation.Models.AssemblyInfo.cs
/HotelReservation.Models/obj/Release/netcoreapp2.0
/HotelReservation.Data.SQL/obj/Release/netstandard2.0/HotelReservation.Data.SQL.AssemblyInfoInputs.cache
/HotelReservation.Data.SQL/obj/Release/netstandard2.0/HotelReservation.Data.SQL.AssemblyInfo.cs
/HotelReservation.Data.SQL/obj/Release/netstandard2.0
/HotelReservation.Data.SQL/obj/Debug/netstandard2.0/HotelReservation.Data.SQL.AssemblyInfoInputs.cache
/HotelReservation.Data.SQL/obj/Debug/netstandard2.0
/HotelReservation.Data.SQL/obj
/HotelReservation.Data.Repositories/obj/Release/netcoreapp2.0/HotelReservation.Data.Repositories.csproj.CoreCompileInputs.cache
/HotelReservation.Data.Repositories/obj/Release/netcoreapp2.0/HotelReservation.Data.Repositories.AssemblyInfoInputs.cache
/HotelReservation.Data.Repositories/obj/Release/netcoreapp2.0/HotelReservation.Data.Repositories.AssemblyInfo.cs
/HotelReservation.Data.Repositories/obj/Release/netcoreapp2.0
/HotelReservation.Data.Common/obj/Release/netcoreapp2.0/HotelReservation.Data.Common.csproj.CoreCompileInputs.cache
/HotelReservation.Data.Common/obj/Release/netcoreapp2.0/HotelReservation.Data.Common.AssemblyInfoInputs.cache
/HotelReservation.Data.Common/obj/Release/netcoreapp2.0/HotelReservation.Data.Common.AssemblyInfo.cs
/HotelReservation.Data.Common/obj/Release/netcoreapp2.0
/HotelReservation.Bo.Test/obj/Release/netcoreapp2.0/HotelReservation.Bo.Test.csproj.CoreCompileInputs.cache
/HotelReservation.Bo.Test/obj/Release/netcoreapp2.0/HotelReservation.Bo.Test.AssemblyInfoInputs.cache
/HotelReservation.Bo.Test/obj/Release/netcoreapp2.0/HotelReservation.Bo.Test.AssemblyInfo.cs
/HotelReservation.Bo.Test/obj/Release/netcoreapp2.0
/HotelReservation.Bo/obj/Release/netcoreapp2.0/HotelReservation.Bo.csproj.CoreCompileInputs.cache
/HotelReservation.Bo/obj/Release/netcoreapp2.0/HotelReservation.Bo.AssemblyInfoInputs.cache
/HotelReservation.Bo/obj/Release/netcoreapp2.0/HotelReservation.Bo.AssemblyInfo.cs
/HotelReservation.Bo/obj/Release/netcoreapp2.0
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.cache
*.dll
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
